{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Add Product</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'add_product.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="add_product" %}
    <div class="container px-0">
      <div class="content py-4">
        <div class="add_product_form px-3 py-3">
          <h2 class="py-0 my-0">ADD PRODUCT</h2>
          <hr>
          <form action="{% url 'add_product_view' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <table>
              {{add_product_form}}
            </table>
            <hr>
            <div class="add_product_button pt-1">
              <input class="btn btn-primary" type="submit" value="ADD PRODUCT" title="Add product">
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>