{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Add Product</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="add_product" %}
    <div class="container text-break px-0">
      <div class="content py-3">
        {% if option == "manually" %}
          <form class="add_product_form mx-3 px-3 py-3" action="{% url 'add_product_view' %}" enctype="multipart/form-data" method="POST">
            <fieldset>
              {% csrf_token %}
              <legend class="display-5 text-center"><b>ADD PRODUCT</b></legend>
              <hr>
              {% for field in add_product_form %}
                <div class="control-group mb-3">
                  <label class="control-label">{{field.label}}</label> 
                  <div class="controls">
                    {{field}}
                  </div>
                </div>
              {% endfor %}
              <div class="text-center py-2">
                <input class="btn btn-primary" type="submit" value="ADD PRODUCT" title="Add product">
              </div>
            </fieldset>
          </form>
        {% elif option == "upc_ean_lookup" %}
          <form class="upc_ean_lookup_form mx-3 px-3 py-3" action="{% url 'add_product_view' %}" method="GET">
            <fieldset>
              <legend class="display-5 text-center"><b>UPC/EAN LOOKUP</b></legend>
              <hr>
              {% for field in upc_ean_lookup_form %}
                <div class="control-group mb-3">
                  <label class="control-label">{{field.label}}</label> 
                  <div class="controls">
                    {{field}}
                  </div>
                </div>
              {% endfor %}
              <div class="text-center py-2">
                <input class="btn btn-primary" type="submit" value="LOOKUP" title="Add product">
              </div>
            </fieldset>
          </form>
          {% if products %}
            <div class="products mx-2">
              {% for product in products %}
                <div class="product mt-3 mx-2 px-3 py-2">
                  <h4><b>{{product.title}}</b></h4>
                  <a href="{% url 'product_view' uuid=product.uuid %}" title="Click to view more details of this product"><img src="{{product.product_picture.url}}" alt="product picture" style="width: 100%;"></a>
                  <p class="mt-2"><b>{{product.description}}</b></p>
                  <p class="my-2"><b>Category: {{product.category}}</b></p>
                  <p><b>Condition: {{product.condition}}</b></p>
                  <div class="copy_and_add_product_form pb-2">
                    <form action="{% url 'copy_and_add_product_view' uuid=product.uuid %}" method="POST">
                      {% csrf_token %}
                      <hr>
                      <fieldset>
                        <div class="copy_and_add_product">
                          <div>
                            <p class="my-0">Price: <b>${{product.price}}</b></p>
                          </div>
                          <div>
                            <input class="btn btn-primary" type="submit" value="COPY & ADD" title="Copy product's detail & create listing">
                          </div>
                        </div>
                      </fieldset>
                  </form>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% else %}
          <div class="option_how_to_add_product text-center mx-3 px-3 py-3">
            <h2>How would you like to add your product?</h2>
            <hr>
            <div class="add_product_options">
              <div class="manually_button">
                <a class="btn btn-lg btn-primary" href="{% url 'add_product_view' %}?option=manually" role="button">Manually</a>
                <hr>
                <p>You will need to enter the product's details manually.<br>That includes title, picture, description, category, etc.</p>
              </div>
              <div class="vr mx-3"></div>
              <div class="upc_ean_lookup_button">
                <a class="btn btn-lg btn-primary" href="{% url 'add_product_view' %}?option=upc-ean-lookup" role="button">UPC/EAN Lookup</a>
                <hr>
                <p>If you know the UPC/EAN, you can do a lookup on our database.<br>This way, you can simply copy the product's details onto yours.</p>
              </div>
            </div>
            <hr>
            <p><b>For either options, you can always edit the product details later.</b></p>
          </div>
        {% endif %}
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>