{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Advanced Search</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="advanced_search" %}
    <div class="container text-break px-0">
      <div class="content">
        <div class="py-3">
          <form class="advanced_search_product_form mx-3 px-3 py-3" action="{% url 'advanced_search_view' %}" method="GET">
            <fieldset>
              <legend class="display-5 text-center"><b>ADVANCED SEARCH</b></legend>
              <hr>
              {% for field in advanced_search_product_form %}
                <div class="control-group mb-3">
                  <label class="control-label">{{field.label}}</label> 
                  <div class="controls">
                    {{field}}
                  </div>
                </div>
              {% endfor %}
              <div class="text-center py-2">
                <input class="btn btn-primary" type="submit" value="ADVANCED SEARCH" title="Advanced search">
              </div>
            </fieldset>
          </form>
        </div>
        {% if products %}
          <div class="products pb-2 px-2">
            {% include "includes/products.html" %}
          </div>
        {% endif %}
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>