{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Cart</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'cart.css' %}"/>
  </head>
  <body>
    <div class="container min-vh-100 px-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">E-commerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index_view' %}" title="Homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile_view' %}" title="View profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_product_view' %}" title="Add product">Add product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'cart_view' %}" title="View cart"><u>Cart</u></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_user' %}" title="Logout user">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content">
        {% if cart %}
          <h1 class="title pt-3">Your Cart</h1>
          <div class="cart">
            <div class="items mx-3 my-3">
              {% for item in cart %}
                <div class="item" id="id_{{item.product.id}}">
                  <div class="item_details">
                    <div class="px-5">
                      <h4 class="item_number">{{forloop.counter}}.&#41;</h4>
                    </div>
                    <div>
                      <h4 class="item_title py-2 text-break">{{item.product.title}}</h4>
                      <a class="item_image" href="{% url 'product_view' id=item.product.id %}" title="Click to view more details of this product"><img src="{{item.product.picture.url}}" alt="product picture" width="150" height="150"></a>
                      <p class="item_seller pt-2"><b>Seller: {{item.product.seller}}</b></p>
                    </div>
                  </div>
                  <div class="remove_from_cart_form px-5">
                    <form action="{% url 'delete_from_cart_view' id=item.id %}" method="POST">
                      {% csrf_token %}
                      {% if item.product.bought == True %}
                        <div class="already_bought mb-2">
                          <h4 title="Sorry, this product is sold out"><b><u>SOLD OUT</u></b></h4>
                        </div>
                      {% endif %}
                      <div class="remove_from_cart_button">
                        <input class="btn btn-danger" type="submit" value="REMOVE ITEM" title="Remove item">
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
              {% endfor %}
              <div class="cart-footer pb-3 px-5"> 
                <div class="check_out_confirm">
                  <a class="btn btn-danger btn-lg" href="{% url 'confirm_message_view' type='delete-all-items-from-cart' %}" role="button" title="Delete all items">DELETE ALL ITEMS</a>
                </div>
                <div class="check_out_confirm">
                  <a class="btn btn-primary btn-lg" href="{% url 'confirm_message_view' type='check-out' %}" role="button" title="Check out">CHECK OUT</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="empty_cart py-3 my-5">
            <h1>Your cart seems to be empty.<br><br>Why not try adding some items to your cart from the homepage first? <a href="{% url 'index_view' %}" title="Homepage">Homepage</a></h1>
          </div>
        {% endif %}
      </div>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="modal" id="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              {% if message.tags == 'error' %}
                <div class="modal-header text-danger">
                  <h4 class="modal-title"><b><u>ERROR</u></b></h4>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="CLOSE" title="CLOSE ALERT"></button>
                </div>
                <div class="modal-body">
                  <ul>
                    {{message}}
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="CLOSE ALERT">CLOSE</button>
                </div>
              {% elif message.tags == 'success' %}
                <div class="modal-header text-success">
                  <h4 class="modal-title"><b><u>SUCCESS</u></b></h4>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="CLOSE" title="CLOSE ALERT"></button>
                </div>
                <div class="modal-body">
                  <p class="py-0 my-0">{{message}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="CLOSE ALERT">CLOSE</button>
                </div>
              {% else %}
                <div class="modal-header text-warning">
                  <h4 class="modal-title"><b><u>PLEASE CONFIRM</u></b></h4>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="CLOSE" title="CLOSE ALERT"></button>
                </div>
                <div class="modal-body">
                  <p class="py-0 my-0">{{message}}</p>
                </div>
                <div class="modal-footer">
                  <div class="check_out_form">
                    {% if message.extra_tags == 'check-out' %}
                      <form action="{% url 'check_out_view' %}" method="POST">
                        {% csrf_token %}
                        <div class="check_out_button">
                          <input class="btn btn-success" type="submit" value="YES" title="YES">
                        </div>
                      </form>
                    {% elif message.extra_tags == 'delete-all-items-from-cart' %}
                      <form action="{% url 'delete_all_items_from_cart_view' %}" method="POST">
                        {% csrf_token %}
                        <div class="check_out_button">
                          <input class="btn btn-success" type="submit" value="YES" title="YES">
                        </div>
                      </form>
                    {% endif %}
                  </div>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" title="NO">NO</button>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      <script type="text/javascript">
        $(document).ready(function(){
            $("#modal").modal('show');
        });
      </script>
    {% endif %}
  </body>
</html>