{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Cart</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="cart" %}
    <div class="container text-break px-0">
      <div class="content px-3 py-3">
        {% if cart %}
          <div class="cart">
            <h1 class="display-3 text-center">Your Cart</h1>
            <hr>
            <div class="items">
              {% for item in cart %}
                <div class="item px-4">
                  <div class="item_details">
                    <div>
                      <p class="item_and_price_number">#{{forloop.counter}}</p>
                      <hr>
                      <p class="item_and_price_number"><b>${{item.product.price}}</b></p>
                    </div>
                    <div class="vr mx-4"></div>
                    <div class="ms-1">
                      <h4>Title: {{item.product.title}}</h4>
                      <a href="{% url 'product_view' uuid=item.product.uuid %}" title="Click to view more details of this product"><img src="{{item.product.picture.url}}" alt="product picture" width="150" height="150"></a>
                      <p class="mb-0 pt-2"><b>Seller: {{item.product.seller}}</b></p>
                    </div>
                  </div>
                  <div class="remove_from_cart_form">
                    <form action="{% url 'delete_from_cart_view' uuid=item.uuid %}" method="POST">
                      {% csrf_token %}
                      {% if item.product.status == "inactive" %}
                        <h4 class="bg-warning text-center" title="Sorry, this product has been deactivated by the seller"><b><u>INACTIVE</u></b></h4>
                      {% elif item.product.status == "sold out" %}
                        <h4 class="bg-danger text-center" title="Sorry, this product is sold out"><b><u>SOLD OUT</u></b></h4>
                      {% endif %}
                      <div class="remove_from_cart_button">
                        <input class="btn btn-danger" type="submit" value="REMOVE ITEM" title="Remove item">
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
              {% endfor %}
              <div class="cart-footer px-4 pb-3"> 
                <div class="check_out_confirm">
                  <a class="btn btn-danger" href="{% url 'confirm_message_view' type='delete-all-items-from-cart' %}" role="button" title="Delete all items">DELETE ALL ITEMS</a>
                </div>
                <div>
                  <h3 class="my-0">Total Price: <b>${{total_price}}</b></h3>
                </div>
                <div class="check_out_confirm">
                  <a class="btn btn-primary" href="{% url 'confirm_message_view' type='check-out' %}" role="button" title="Check out">CHECK OUT</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="empty_or_error text-center px-3 py-3">
            <h1>Your cart seems to be empty.<br><br>Why not try adding some items to your cart from the homepage first? <a href="{% url 'index_view' %}" title="Homepage">Homepage</a></h1>
          </div>
        {% endif %}
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>