{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Edit Product</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'edit_product.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" %}
    <div class="container px-0">
      <div class="content py-4">
        {% if product %}
          <div class="product">
            <div class="current_product_information px-3">
              <h2 class="pt-2">Title: {{product.title}}</h2>
              <a href="{% url 'product_view' id=product.id %}" title="Click to view more details of this product"><img class="product_image" src="{{product.picture.url}}" alt="product picture"></a>
              <h4 class="pt-2">Description: {{product.description}}</h4>
              <h4 class="py-1">Category: {{product.category}}</h4>
              <h4 class="pt-1">Condition: {{product.condition}}</h4>
            </div>
            <div class="vr"></div>
            <div class="edit_product_form px-3">
              <h2 class="py-0 my-0">EDIT PRODUCT</h2>
              <hr>
              <form action="{% url 'edit_product_view' id=product.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <table>
                  {{edit_product_form}}
                </table>
                <div class="edit_product_button pt-3">
                  <input class="btn btn-primary" type="submit" value="EDIT PRODUCT" title="Edit product">
                </div>
              </form>
              <hr>
              <a class="btn btn-danger" href="{% url 'confirm_message_view' type='delete-product' %}" role="button" title="Delete product">DELETE PRODUCT</a>
            </div>
          </div>
        {% else %}
          <div class="edit_unavailable py-3 px-3 my-5">
            <h1>You cannot edit this product or the ID of this product does not match a record on our database.<br><br>Please ensure the ID is correct in order to edit the product.</h1>
          </div>
        {% endif %}
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>