{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Homepage</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="index" search=True %}
    <div class="container text-break px-0">
      {% if products %}
        <div class="sort_filter_by">
          {% include "includes/sort_by.html" %}
          {% include "includes/filter_by.html" %}
        </div>
      {% endif %}
      <div class="content px-2 py-2">
        {% if products %}
          <div class="products">
            {% for product in products %}
              <div class="product mx-2 my-2 px-3 py-2">
                <h4><b>{{product.title}}</b></h4>
                <a href="{% url 'product_view' uuid=product.uuid %}" title="Click to view more details of this product"><img src="{{product.picture.url}}" alt="product picture" style="width: 100%;"></a>
                <p class="my-0 pt-2"><b>{{product.description}}</b></p>
                <p class="my-0 pt-2"><b>Category: {{product.category}}</b></p>
                <p class="my-0 pt-2"><b>Condition: {{product.condition}}</b></p>
                <div class="add_to_cart_form pb-2">
                  <form action="{% url 'add_to_cart_view' uuid=product.uuid %}" method="POST">
                    <fieldset>
                      {% csrf_token %}
                      <hr>
                      <div class="add_to_cart_button">
                        {% if current_username == product.seller.username %}
                          <input class="btn btn-danger" type="submit" value="ADD TO CART" disabled>
                        {% else %}
                          <input class="btn btn-primary" type="submit" value="ADD TO CART" title="Add &quot;{{product.title}}&quot; to cart">
                        {% endif %}
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            {% endfor %}
          </div>
          {% if products.has_other_pages %}
            <hr class="my-2">
            <div class="pagination py-2">
              {% if products.has_previous %}
                {% if request.path == "/index" or request.path == "/" %}
                  <a class="btn btn-primary me-2" href="{% url 'index_view' %}?page=1" role="button">&laquo; first</a>
                  <a class="btn btn-primary me-2" href="{% url 'index_view' %}?page={{products.previous_page_number}}" role="button">&lsaquo; previous</a>
                {% endif %}
              {% endif %}
              <h4 class="my-0 mx-1">Page: <u>{{products.number}}</u> / <u>{{products.paginator.num_pages}}</u></h4>
              {% if products.has_next %}
                {% if request.path == "/index" or request.path == "/" %}
                  <a class="btn btn-primary ms-2" href="{% url 'index_view' %}?page={{products.next_page_number}}" role="button">next &rsaquo;</a>
                  <a class="btn btn-primary ms-2" href="{% url 'index_view' %}?page={{products.paginator.num_pages}}" role="button">last &raquo;</a>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        {% else %}
          <div class="empty_or_error text-center mx-2 my-2 px-3 py-3">
            <h1>There are currently no products to show.<br><br>Why not be the first? <a href="{% url 'add_product_view' %}?option=how" title="Add product">Add product</a></h1>
          </div>
        {% endif %}
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>