{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Homepage</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'index.css' %}"/>
  </head>
  <body>
    <div class="container min-vh-100 px-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">E-commerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index_view' %}" title="Homepage"><u>Home</u></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_product_view' %}" title="Add product">Add product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart_view' %}" title="View cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_user' %}" title="Logout user">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content mx-2 py-2">
        {% if products %}
          <div class="products">
            {% for product in products %}
              <div class="product text-break px-3 mx-2 my-2" id="id_{{product.id}}">
                <h4 class="product_title py-1 pt-2"><b>{{product.title}}</b></h4>
                <a class="product_image py-1" href="{% url 'product_view' id=product.id %}" title="Click to view more details of this product"><img src="{{product.picture.url}}" alt="product picture" style="width: 100%;"></a>
                <p class="product_description py-1"><b>{{product.description}}</b></p>
                <p class="product_category pt-1"><b>Category: {{product.category}}</b></p>
                <div class="add_to_cart_form py-3">
                  <form action="{% url 'add_to_cart_view' id=product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="add_to_cart_button">
                      <input class="btn btn-primary" type="submit" value="ADD TO CART" title="Add &quot;{{product.title}}&quot; to cart">
                    </div>
                  </form>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="no_products py-3 my-5">
            <h1>There are currently no products to show.<br><br>Why not be the first? <a href="{% url 'add_product_view' %}" title="Add product">Add product</a></h1>
          </div>
        {% endif %}
      </div>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="modal" id="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              {% if message.tags == 'error' %}
                <div class="modal-header text-danger">
                  <h4 class="modal-title"><b><u>ERROR</u></b></h4>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="CLOSE" title="CLOSE ALERT"></button>
                </div>
                <div class="modal-body">
                  <ul>
                    {{message}}
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="CLOSE ALERT">CLOSE</button>
                </div>
              {% endif %}
              {% if message.tags == 'success' %}
                <div class="modal-header text-success">
                  <h4 class="modal-title"><b><u>SUCCESS</u></b></h4>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="CLOSE" title="CLOSE ALERT"></button>
                </div>
                <div class="modal-body">
                  <p class="py-0 my-0">{{message}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="CLOSE ALERT">CLOSE</button>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      <script type="text/javascript">
        $(document).ready(function(){
            $("#modal").modal('show');
        });
      </script>
    {% endif %}
  </body>
</html>