{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="login" main=False %}
    <div class="container text-break px-0">
      <div class="content px-3 py-3">
        <form class="login_form px-3 py-3" action="{% url 'login_view' %}" method="POST">
          {% csrf_token %}
          <legend class="display-5 text-center"><b>LOGIN</b></legend>
          <hr>
          {% include "includes/forms.html" with form=login_form form_text="Login" %}
          <div class="footer text-center">
            <hr>
            <a class="nav-link" href="{% url 'signup_view' %}" title="Signup page">Don't have an account?<b><u class="ps-1">Signup here</u></b></a>
            <hr>
            <a class="nav-link" href="{% url 'reset_password_view' %}" title="Reset password page">Forgot your password?<b><u class="ps-1">Reset here</u></b></a>
          </div>
        </form>
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>