{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | {% if product %}Product - {{product.title}}{% else %}Product not found{% endif %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" %}
    <div class="container text-break px-0">
      <div class="content px-3 py-3">
        {% if product %}
          <div class="product_view px-3 py-3">
            <div class="product_main_identifiers">
              <h2><b>{{product.title}}</b></h2>
              <img src="{{product.product_picture.url}}" alt="product picture">
            </div>
            <div class="vr mx-3"></div>
            <div class="product_sub_identifiers">
              <h3>Description: {{product.description}}</h3>
              <hr>
              <div>
                <h3>Category: {{product.category}}</h3>
                <h3>Condition: {{product.condition}}</h3>
                <h3>List Date: {{product.list_date}}</h3>
              </div>
              <hr>
              {% if product.upc != "" or product.ean != "" %}
                <div>
                  {% if product.upc != "" %}
                    <h3>UPC: {{product.upc}}</h3>
                  {% endif %}
                  {% if product.ean != "" %}
                    <h3>EAN: {{product.ean}}</h3>
                  {% endif %}
                </div>
                <hr>
              {% endif %}
              <div class="seller_basic_info">
                {% if product.seller.profile_picture %}
                  <div>
                    <img class="profile_picture" src="{{product.seller.profile_picture.url}}" alt="profile picture" width="125" height="125">
                  </div>
                  <div class="vr mx-3"></div>
                {% endif %}
                <div class="info">
                  <h3>Seller: <a href="{% url 'storefront_view' %}?member-id={{product.seller.member_id}}" title="Vist {{product.seller}} store">{{product.seller}}</a></h3>
                </div>
              </div>
              <hr>
              <div>
                <form action="{% url 'add_to_cart_view' uuid=product.uuid %}" method="POST">
                  {% csrf_token %}
                  <div class="add_to_cart_button">
                    <h3>Price: <b>${{product.price}}</b></h3>
                    {% if current_username == product.seller.username %}
                      {% if product.status == "sold out" %}
                        <a class="btn btn-danger btn disabled" href="#" title="Edit product">EDIT PRODUCT</a>
                      {% else %}
                        <a class="btn btn-secondary" href="{% url 'edit_product_view' uuid=product.uuid %}" title="Edit product">EDIT PRODUCT</a>
                      {% endif %}
                    {% elif product.status == "inactive" %}
                      <input class="btn btn-warning" type="submit" value="ADD TO CART" disabled>
                    {% elif product.status == "sold out" %}
                      <input class="btn btn-danger" type="submit" value="ADD TO CART" disabled>
                    {% elif in_cart is True %}
                      <input class="btn btn-danger" type="submit" value="ADD TO CART" disabled>
                    {% else %}
                      <input class="btn btn-primary" type="submit" value="ADD TO CART" title="Add &quot;{{product.title}}&quot; to cart">
                    {% endif %}
                  </div>
                  {% if product.status == "inactive" %}
                    <h4 class="bg-warning mt-3" title="Sorry, the seller has disabled this product"><b><u>INACTIVE</u></b></h4>
                  {% elif product.status == "sold out" %}
                    <h4 class="bg-danger mt-3" title="Sorry, this product is already sold out"><b><u>SOLD OUT</u></b></h4>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        {% else %}
          <div class="empty_or_error text-center px-3 py-3">
            <h1>The ID of this product does not match a record on our database.<br><br>Please ensure the ID is correct.</h1>
          </div>
        {% endif %}
      </div>
      {% if product %}
        <div>
          <h4 class="text-light float-end pt-2">Page Views: <u>{{product.views}}</u></h4>
        </div>
      {% endif %}
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>