{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Profile</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'profile.css' %}"/>
  </head>
  <body>
    <div class="container min-vh-100 px-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">E-commerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index_view' %}" title="Homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'profile_view' %}" title="View profile"><u>Profile</u></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_product_view' %}" title="Add product">Add product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart_view' %}" title="View cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_user' %}" title="Logout user">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content px-2 py-2">
        <div class="welcome pb-2">
          <h1>Welcome, {{user.username}}!</h1>
        </div>
        <div class="options mh-100">
          <div class="profile_buttons px-2 py-2">
            {% if option == 'settings' %}
              <a class="btn btn-success mb-5" href="{% url 'profile_option_view' option='settings' %}" role="button" title="Settings"><u>Settings</u></a>
            {% else %}
              <a class="btn btn-primary mb-5" href="{% url 'profile_option_view' option='settings' %}" role="button" title="">Settings</a>
            {% endif %}
            <hr>
            {% if option == 'wish-list' %}
              <a class="btn btn-success my-5" href="{% url 'profile_option_view' option='wish-list' %}" role="button" title="Wish list"><u>Wish List</u></a>
            {% else %}
              <a class="btn btn-primary my-5" href="{% url 'profile_option_view' option='wish-list' %}" role="button" title="Wish list">Wish List</a>
            {% endif %}
            <hr>
            {% if option == 'listing-history' %}
              <a class="btn btn-success my-5" href="{% url 'profile_option_view' option='listing-history' %}" role="button" title="Listing history"><u>Listing History</u></a>
            {% else %}
              <a class="btn btn-primary my-5" href="{% url 'profile_option_view' option='listing-history' %}" role="button" title="Listing history">Listing History</a>
            {% endif %}
            <hr>
            {% if option == 'purchase-history' %}
              <a class="btn btn-success my-5" href="{% url 'profile_option_view' option='purchase-history' %}" role="button" title="Purchase history"><u>Purchase History</u></a>
            {% else %}
              <a class="btn btn-primary my-5" href="{% url 'profile_option_view' option='purchase-history' %}" role="button" title="Purchase history">Purchase History</a>
            {% endif %}
            <hr>
            {% if option == 'login-history' %}
              <a class="btn btn-success mt-5" href="{% url 'profile_option_view' option='login-history' %}" role="button" title="Login hisotry"><u>Login Hisotry</u></a>
            {% else %}
              <a class="btn btn-primary mt-5" href="{% url 'profile_option_view' option='login-history' %}" role="button" title="Login hisotry">Login Hisotry</a>
            {% endif %}
          </div>
          <div class="vr"></div>
          <div class="view">
            {% if option == None %}
              <h1 class="option_none">Please choose from 1 of the 5 options.</h1>
            {% elif option == 'settings' %}
              <div class="settings">
                <div class="change_username_form px-3 py-3">
                  <h2 class="py-0 my-0">CHANGE USERNAME</h2>
                  <hr>
                  <form action="{% url 'change_username_view' %}" method="POST">
                    {% csrf_token %}
                    <table>
                      {{change_username_form}}
                    </table>
                    <hr>
                    <div class="change_username_button pt-1">
                      <input class="btn btn-primary" type="submit" value="CHANGE USERNAME" title="Change username">
                    </div>
                  </form>
                </div>
                <div class="change_password_form px-3 py-3 my-2">
                  <h2 class="py-0 my-0">CHANGE PASSWORD</h2>
                  <hr>
                  <form action="{% url 'change_password_view' %}" method="POST">
                    {% csrf_token %}
                    <table>
                      {{change_password_form}}
                    </table>
                    <hr>
                    <div class="change_password_button pt-1">
                      <input class="btn btn-primary" type="submit" value="CHANGE PASSWORD" title="Change password">
                    </div>
                  </form>
                </div>
                <div class="delete_account_form px-3 py-3">
                  <h2 class="py-0 my-0">DELETE ACCOUNT</h2>
                  <hr>
                  <form action="{% url 'delete_account_view' %}" method="POST">
                    {% csrf_token %}
                    <table>
                      {{delete_account_form}}
                    </table>
                    <hr>
                    <div class="delete_account_button pt-1">
                      <input class="btn btn-primary" type="submit" value="DELETE ACCOUNT" title="Delete account">
                    </div>
                  </form>
                </div>
              </div>
            {% elif option == 'wish-list' %}
              <h3><u>Wish List</u></h3>
            {% elif option == 'listing-history' %}
              {% if listing_history %}
                <div class="listing_history">
                  <div class="products text-break">
                    {% for item in listing_history %}
                      <div class="product px-3 py-2 mx-2 my-2" id="id_{{item.id}}">
                        <h4><b>{{item.title}}</b></h4>
                        <a class="pt-2" href="{% url 'product_view' id=item.id %}" title="Click to view more details of this product"><img src="{{item.picture.url}}" alt="product picture" style="width: 100%;"></a>
                        <p class="pt-3"><b>{{item.description}}</b></p>
                        <p><b>Category: {{item.category}}</b></p>
                        {% if item.bought == True %}
                          <div class="bought pb-1 mb-2">
                            <h4 class="py-0 my-0" title="This product was bought from a buyer"><b><u>SOLD</u></b></h4>
                          </div>
                        {% else %}
                          <div class="edit_product pb-3">
                            <a class="btn btn-secondary" href="{% url 'edit_product_view' id=item.id %}" title="Edit product">EDIT PRODUCT</a>
                          </div>
                          <div class="not_bought pb-1 mb-2">
                            <h4 class="py-0 my-0" title="No one has bought this yet"><b><u>ACTIVE</b></u></h4>
                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="no_listing_history py-4 px-4">
                  <h1>Your history for listing is empty.<br><br>You have not added any products yet.</h1>
                </div>
              {% endif %}
            {% elif option == 'purchase-history' %}
              {% if purchase_history %}
                <div class="purchase_history">
                  <div class="products text-break">
                    {% for item in purchase_history %}
                      <div class="product px-3 py-2 mx-2 my-2" id="id_{{item.product.id}}">
                        <h4><b>{{item.product.title}}</b></h4>
                        <a class="pt-2" href="{% url 'product_view' id=item.product.id %}" title="Click to view more details of this product"><img src="{{item.product.picture.url}}" alt="product picture" style="width: 100%;"></a>
                        <p class="pt-3"><b>{{item.product.description}}</b></p>
                        <p><b>Category: {{item.product.category}}</b></p>
                        <p><b>Seller: {{item.product.seller}}</b></p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="no_purchase_history py-4 px-4">
                  <h1>Your history for purchases is empty.<br><br>You have not made any purcahses yet.</h1>
                </div>
              {% endif %}
            {% elif option == 'login-history' %}
              <h3><u>Login Hisotry</u></h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>