{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Profile</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="profile" %}
    <div class="container text-break px-0">
      <div class="content px-3 py-3">
        <div class="welcome py-2">
          <h1>Welcome, {{user.username}}!</h1>
          <h1>Avaliable Credits: <b>${{user.credits}}</b></h1>
        </div>
        <div class="options">
          <div class="profile_buttons px-2 py-2">
            {% if option == 'settings' %}
              <a class="btn btn-success mb-5" href="{% url 'profile_option_view' option='settings' %}" role="button"><u>Settings</u></a>
            {% else %}
              <a class="btn btn-primary mb-5" href="{% url 'profile_option_view' option='settings' %}" role="button">Settings</a>
            {% endif %}
            <hr>
            {% if option == 'wish-list' %}
              <a class="btn btn-success my-5" href="{% url 'profile_option_view' option='wish-list' %}" role="button"><u>Wish List</u></a>
            {% else %}
              <a class="btn btn-primary my-5" href="{% url 'profile_option_view' option='wish-list' %}" role="button">Wish List</a>
            {% endif %}
            <hr>
            {% if option == 'listing-history' %}
              <a class="btn btn-success my-5" href="{% url 'profile_option_view' option='listing-history' %}" role="button"><u>Listing History</u></a>
            {% else %}
              <a class="btn btn-primary my-5" href="{% url 'profile_option_view' option='listing-history' %}" role="button">Listing History</a>
            {% endif %}
            <hr>
            {% if option == 'purchase-history' %}
              <a class="btn btn-success my-5" href="{% url 'profile_option_view' option='purchase-history' %}" role="button"><u>Purchase History</u></a>
            {% else %}
              <a class="btn btn-primary my-5" href="{% url 'profile_option_view' option='purchase-history' %}" role="button">Purchase History</a>
            {% endif %}
            <hr>
            {% if option == 'login-history' %}
              <a class="btn btn-success my-5" href="{% url 'profile_option_view' option='login-history' %}" role="button"><u>Login Hisotry</u></a>
            {% else %}
              <a class="btn btn-primary my-5" href="{% url 'profile_option_view' option='login-history' %}" role="button">Login Hisotry</a>
            {% endif %}
            <hr>
            <a class="btn btn-primary mt-5" href="{% url 'storefront_view' %}?member-id={{user.member_id}}" role="button">Storefront</a>
          </div>
          <div class="vr"></div>
          <div class="option_view">
            {% if option == None %}
              <h1 class="option_none">Please choose from 1 of the 6 options.</h1>
            {% elif option == 'settings' %}
              <div>
                <div>
                {% if user.banner_picture %}
                  <div class="banner_picture pt-2 px-2">
                    <img src="{{user.banner_picture.url}}" alt="banner picture" style="width: 100%;">
                  </div>
                  {% if user.profile_picture %}
                    <div class="settings_profile_picture">
                      <img class="profile_picture" src="{{user.profile_picture.url}}" alt="banner picture">
                    </div>
                  {% endif %}
                {% elif user.profile_picture %}
                  <div class="pt-2">
                    <img class="profile_picture" src="{{user.profile_picture.url}}" alt="banner picture">
                  </div>
                {% endif %}
                <div class="settings px-2 py-2">
                  <div class="change_username_form me-1 px-3 py-3">
                    <h2 class="py-0 my-0">CHANGE USERNAME</h2>
                    <hr class="mb-2">
                    <form action="{% url 'change_username_view' %}" method="POST">
                      {% csrf_token %}
                      {% include "includes/forms.html" with form=change_username_form form_text="Change Username" %}
                    </form>
                  </div>
                  <div class="change_password_form ms-1 px-3 py-3">
                    <h2 class="py-0 my-0">CHANGE PASSWORD</h2>
                    <hr class="mb-2">
                    <form action="{% url 'change_password_view' %}" method="POST">
                      {% csrf_token %}
                      {% include "includes/forms.html" with form=change_password_form form_text="Change Password" %}
                    </form>
                  </div>
                  <div class="upload_profile_picture_form me-1 my-2 px-3 py-3">
                    <h2 class="py-0 my-0">UPLOAD PROFILE PICTURE</h2>
                    <hr class="mb-2">
                    <form action="{% url 'upload_profile_picture_view' %}" enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
                      {% include "includes/forms.html" with form=upload_profile_picture_form form_text="Upload Profile Picture"%}
                    </form>
                  </div>
                  <div class="upload_banner_picture_form ms-1 my-2 px-3 py-3">
                    <h2 class="py-0 my-0">UPLOAD BANNER PICTURE</h2>
                    <hr class="mb-2">
                    <form action="{% url 'upload_banner_picture_view' %}" enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
                      {% include "includes/forms.html" with form=upload_banner_picture_form form_text="Upload Banner Picture" %}
                    </form>
                  </div>
                  <div class="change_state_territory_form me-1 px-3 py-3">
                    <h2 class="py-0 my-0">CHANGE STATE/TERRITORY</h2>
                    <hr class="mb-2">
                    <form action="{% url 'change_state_territory_view' %}" method="POST">
                      {% csrf_token %}
                      {% include "includes/forms.html" with form=change_state_territory_form form_text="Change State/territory" %}
                    </form>
                  </div>
                  <div class="delete_account_form ms-1 px-3 py-3">
                    <h2 class="py-0 my-0">DELETE ACCOUNT</h2>
                    <hr class="mb-2">
                    <form action="{% url 'delete_account_view' %}" method="POST">
                      {% csrf_token %}
                      {% include "includes/forms.html" with form=delete_account_form form_text="Delete Account"%}
                    </form>
                  </div>
                </div>
              </div>
            {% elif option == 'wish-list' %}
              <h3><u>Wish List</u></h3>
            {% elif option == 'listing-history' %}
              {% if listing_history %}
                <div class="listing_history">
                  <div class="products">
                    {% for item in listing_history %}
                      <div class="profile_items mx-2 my-2 px-3 py-2">
                        <h4><b>{{item.title}}</b></h4>
                        <a href="{% url 'product_view' uuid=item.uuid %}" title="Click to view more details of this product"><img src="{{item.product_picture.url}}" alt="product picture" style="width: 100%;"></a>
                        <p class="mt-2"><b>{{item.description}}</b></p>
                        <p class="my-2">Category: <b>{{item.category}}</b></p>
                        <p>Condition: <b>{{item.condition}}</b></p>
                        <div class="pb-2">
                          <form action="{% url 'add_to_cart_view' uuid=item.uuid %}" method="POST">
                            <fieldset>
                              {% csrf_token %}
                              <hr>
                              {% if item.status == "inactive" %}
                                <a class="btn btn-secondary" href="{% url 'edit_product_view' uuid=item.uuid %}">Edit product</a>
                                <h4 class="bg-warning mt-3"><b><u>INACTIVE</u></b></h4>
                              {% elif item.status == "sold out" %}
                                <a class="btn btn-danger disabled" href="#">Edit product</a>
                                <h4 class="bg-danger mt-3"><b><u>SOLD OUT</u></b></h4>
                              {% else %}
                                <a class="btn btn-secondary" href="{% url 'edit_product_view' uuid=item.uuid %}">Edit product</a>
                                <h4 class="bg-success mt-3"><b><u>ACTIVE</b></u></h4>
                              {% endif %}
                            </fieldset>
                          </form>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="empty_or_error py-3 px-3">
                  <h1>Your history for listing is empty.<br><br>You have not added any products yet.</h1>
                </div>
              {% endif %}
            {% elif option == 'purchase-history' %}
              {% if purchase_history %}
                <div class="purchase_history">
                  <div class="products">
                    {% for item in purchase_history %}
                      <div class="profile_items mx-2 my-2 px-3 py-2">
                        <h4><b>{{item.product.title}}</b></h4>
                        <a href="{% url 'product_view' uuid=item.product.uuid %}" title="Click to view more details of this product"><img src="{{item.product.product_picture.url}}" alt="product picture" style="width: 100%;"></a>
                        <p class="mt-2">Category: <b>{{item.product.category}}</b></p>
                        <p class="my-2">Condition: <b>{{item.product.condition}}</b></p>
                        <p><b>Bought on {{item.buy_date}}</b></p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="empty_or_error py-4 px-4">
                  <h1>Your history for purchases is empty.<br><br>You have not made any purcahses yet.</h1>
                </div>
              {% endif %}
            {% elif option == 'login-history' %}
              <h3><u>Login Hisotry</u></h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>