{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Reset Password</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with location="reset_password" main=False %}
    <div class="container text-break px-0">
      <div class="content py-3 px-3">
        <form class="reset_password_form px-3 py-3" action="{% url 'reset_password_view' %}" method="POST">
          {% csrf_token %}
          <legend class="display-5 text-center"><b>RESET PASSWORD</b></legend>
          <hr>
          {% for field in reset_password_form %}
            <div class="control-group pb-3">
              <label class="control-label">{{field.label}}</label> 
              <div class="controls">
                {{field}}
              </div>
            </div>
          {% endfor %}
          <div class="text-center py-3">
            <input class="btn btn-primary" type="submit" value="RESET PASSWORD" title="Reset password">
          </div>
          <div class="footer text-center">
            <hr>
            <a class="nav-link" href="{% url 'login_view' %}" title="Login page">Remember your password?<b><u class="ps-2">Login here</u></b></a>
            <hr>
            <a class="nav-link" href="{% url 'signup_view' %}" title="Signup page">Don't have an account?<b><u class="ps-2">Signup here</u></b></a>
          </div>
        </form>
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>