{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | {% if products %}Search - &quot;{{search_term}}&quot;{% else %}Search{% endif %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" with search=True %}
    <div class="container text-break px-0">
      <div class="content px-2 py-2">
        {% if products %}
          <div class="products">
            {% include "includes/products.html" %}
          </div>
        {% else %}
          <div class="empty_or_error text-center mx-2 my-2 px-3 py-3">
            <h1>Sorry, your search of, &quot;{{search_term}}&quot;, came back empty.<br><br>Please try again.</h1>
          </div>
        {% endif %}
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>