{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Storefront {% if seller %}- {{ seller.username }}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" %}
    <div class="container text-break px-0">
      <div class="content">
        {% if seller is None %}
          <div class="px-2 py-2">
            <div class="empty_or_error text-center mx-2 my-2 px-3 py-3">
              <h1>Sorry, the seller, does not exist.</h1>
              <h1 class="my-0 pt-5"><a href="{% url 'index_view' %}" title="Homepage">Go back to homepage</a> </h1>
            </div>
          </div>
        {% else %}
          {% if seller.banner_picture %}
            <div class="banner_picture">
              <img src="{{seller.banner_picture.url}}" alt="banner picture" style="width: 100%;">
            </div>
          {% endif %}
          <div class="storefront_header mb-2 py-3 px-3">
            <div class="seller_basic_info">
              {% if seller.profile_picture %}
                <div>
                  <img class="profile_picture" src="{{seller.profile_picture.url}}" alt="profile picture" width="125" height="125">
                </div>
                <div class="vr mx-3"></div>
              {% endif %}
              <div class="info">
                <h5 class="my-0 pb-2"><b>{{seller.username}}</b></h5>
                <p class="my-0 pt-2">Items sold: <b>{{seller.items_sold}}</b></p>
              </div>
            </div>
            <div class="seller_ratings">
              <!-- will need to implement fully there's some placeholder code-->
              <div class="text-center">
                <h5 class="my-0 pb-3"><b>Ratings</b></h5>
              </div>
              <div class="ratings">
                <div class="my-0">
                  <p>Accurate Description: <b>1/10</b></p>
                </div>
                <div class="my-0">
                  <p>Communication: <b>2/10</b></p>
                </div>
                <div class="my-0">
                  <p>Shipping Cost: <b>3/10</b></p>
                </div>
                <div class="my-0">
                  <p>Shipping Speed: <b>4/10</b></p>
                </div>
              </div>
            </div>
          </div>
          {% if products %}
            <div class="products px-2 pb-2">
              {% include "includes/products.html" %}
            </div>
          {% else %}
            <div class="empty_or_error text-center mx-2 my-2 px-3 py-3">
              <h1>Sorry, the seller, {{seller.username}}, does not currently have any active listings.</h1>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>