{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce | Storefront {% if seller %}- {{ seller.username }}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
    {% include "includes/navbar.html" %}
    <div class="container text-break px-0">
      <div class="content">
        {% if seller is None %}
          <div class="px-2 py-2">
            <div class="empty_or_error text-center mx-2 my-2 px-3 py-3">
              <h1>Sorry, the seller, does not exist.</h1>
              <h1 class="mt-5"><a href="{% url 'index_view' %}">Go back to homepage</a> </h1>
            </div>
          </div>
        {% else %}
          {% if seller.banner_picture %}
            <div class="banner_picture">
              <img src="{{seller.banner_picture.url}}" alt="banner picture" style="width: 100%;">
            </div>
          {% endif %}
          <div class="storefront_header mb-2 py-3 px-3">
            <!-- will need to implement fully there's some placeholder code-->
            <div class="seller_basic_info">
              {% if seller.profile_picture %}
                <div>
                  <img class="profile_picture" src="{{seller.profile_picture.url}}" alt="profile picture" width="125" height="125">
                </div>
                <div class="vr mx-3"></div>
              {% endif %}
              <div class="info">
                <h5 class="mb-2"><b>{{seller.username}}</b></h5>
                <p>{% if seller.state_territory %}{{seller.state_territory}}{% if seller.state_territory != "Non US state/territory" %} | 🇺🇸{% endif%}{% endif %}</p>
                <p class="my-2">Items sold: <b>{{seller.items_sold}}</b></p>
                <p>Member Since: <b>{{seller.date_joined|date:'M, Y'}}</b></p>
              </div>
            </div>
            <div class="storefront_header_right_side">
              <div class="seller_ratings">
                <div class="text-center">
                  <h5><b><u>Ratings</u></b></h5>
                </div>
                <div class="ratings">
                  <div>
                    <p class="my-2">Accurate Description: <b>{{accurate_description}}/5</b></p>
                  </div>
                  <div class="ms-auto">
                    <p class="my-2">Communication: <b>{{communication}}/5</b></p>
                  </div>
                  <div>
                    <p>Shipping Cost: <b>{{shipping_cost}}/5</b></p>
                  </div>
                  <div class="ms-auto">
                    <p>Shipping Speed: <b>{{shipping_speed}}/5</b></p>
                  </div>
                </div>
                <div class="text-center mt-2">
                  Total Number of Feedbacks: <b>{{total_feedback}}</b>
                </div>
              </div>
              <div class="vr mx-3"></div>
              <div class="storefront_header_buttons">
                  {% if user.username != seller.username %}
                    <div class="pb-1">
                      <a href="#"><img class="pe-2" src="{% static 'images/contact_icon.svg' %}" alt="contact icon">Contact</a>
                    </div>
                  {% endif %}
                  <div class="pb-1">
                    <a href="#" data-bs-toggle="modal" data-bs-target="{% if user.username == seller.username %}#feedback_modal{% else %}#leave_feedback_modal{% endif %}"><img class="pe-2" src="{% static 'images/clipboard_icon.svg' %}" alt="clipboard icon">Review</a>
                  </div>
                  <div class="pb-1">
                    <a href="#"><img class="pe-2" src="{% static 'images/share_icon.svg' %}" alt="clipboard icon">Share</a>
                  </div>
                  <div>
                    <a href="#"><img class="pe-2 mb-1" src="{% static 'images/star_icon.svg' %}" alt="star icon">Wish List</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if products %}
            <div class="products px-2 pb-2">
              {% include "includes/products.html" %}
            </div>
          {% else %}
          <div class="pt-1 pb-2 px-2">
            <div class="empty_or_error text-center mx-2 my-2 px-3 py-3">
              <h1>Sorry, the seller, {{seller.username}}, does not currently have any active listings.</h1>
            </div>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="modal fade" id="leave_feedback_modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5"><b><u>Leave Feedback for Seller</u></b></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="CLOSE"></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'leave_feedback_view' %}?member-id={{seller.member_id}}" method="POST">
              {% csrf_token %}
              {% include "includes/forms.html" with form=feedback_form form_text="Leave Feedback" %}
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="feedback_modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5"><b><u>Seller's Feedback</u></b></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="CLOSE"></button>
          </div>
          <div class="modal-body">
            {% include "includes/feedbacks.html" %}
          </div>
        </div>
      </div>
    </div>
    {% include "includes/modal_message.html" %}
  </body>
</html>