/* I'll eventually try to combine all CSS into one file */

body {
    background-color: darkgray;
}

ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

li::marker {
    color: #EA868F;
}

.container {
    background-color: lightgray;
}

.content {
    display: flex;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 2px solid black;
    width: 85%;
}

.current_product_information {
    display : flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
}

.product_image {
    width: 100%;
}

.edit_product_form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    width: 50%;
}

.edit_product_form hr {
    width: 100%;
}

.edit_product_form th {
    width: 15%;
}

.edit_product_form form, .edit_product_form table, .edit_product_form tbody, .edit_product_form tr, .edit_product_form textarea {
    width: 100%;
}

.edit_product_button {
    display: flex;
    justify-content: center;
}

.edit_unavailable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 15px;
    width: 65%
}