/* I'll eventually try to combine all CSS into one file */

body {
    background-color: darkgray;
}

ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

li::marker {
    color: #EA868F;
}

.container {
    background-color: lightgray;
}

.products {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    justify-content: center;
}

.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    border: 2px solid black;
}

.no_products {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 15px;
    width: 65%
}