/* I'll eventually try to combine all CSS into one file */

body {
    background-color: darkgray;
}

ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

li::marker {
    color: #EA868F;
}

.content {
    display: flex;
    flex-direction: column;
}

.container {
    background-color: lightgray;
}

.welcome {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    border: 2px solid black;
}

.profile_buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.settings {
    display: flex;
    flex-direction: column;
}

.change_username_form, .change_password_form, .delete_account_form {
    background-color: white;
    border: 2px solid black;
}

.listing_history, .purchase_history {
    height: 77vh;
    overflow-y: auto;
}

.no_listing_history, .no_purchase_history {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}

.products {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.product {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
}

.bought {
    background-color: #EA868F;
}

.not_bought {
    background-color: lightgreen;
}