/* I'll eventually try to combine all CSS into one file */

body {
    background-color: darkgray;
}

ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

li::marker {
    color: #EA868F;
}

.container {
    background-color: lightgray;
}

.content {
    display: flex;
    justify-content: center;
}

.reset_password_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    border: 2px solid black;
}

.reset_password_form th {
    padding-right: 8px;
}

.reset_password_form hr {
    width: 100%;
}

.reset_password_button {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer hr {
    width: 100%;
}