/* base CSS for all pages */

body {
    background-color: #27374D;
}

li::marker {
    color: #EA868F;
}

p {
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
}

.container {
    background-color: #9DB2BF;
}

.login_form, .signup_form, .reset_password_form, .add_product_form, .upc_ean_lookup_form, .advanced_search_product_form {
    background-color: #DDE6ED;
    border: 2px solid black;
}

.option_how_to_add_product {
    background-color: #DDE6ED;
    border: 2px solid black;
}

.add_product_options {
    display: flex;
}

.manually_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.upc_ean_lookup_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.field {
    width: 100%;
}

.footer hr {
    width: 100%;
}

#product_search {
    border-color: #6C6C6C;
}

.sort_filter_by {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdown_submenu {
    position: relative;
}
  
.dropdown_submenu .dropdown-menu {
    top: 10%;
    left: 100%;
    margin-top: -1px;
}
  
.nested_dropdown li:hover > ul.dropdown-menu {
    display: block;
}

.pagination {
    display: flex;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.product {
    background-color: #DDE6ED;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.add_to_cart_button, .copy_and_add_product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product_view {
    background-color: #DDE6ED;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_main_identifiers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 50%;
}

.product_sub_identifiers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 50%;
}

.edit_product {
    background-color: #DDE6ED;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current_product_information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 50%;
}

.edit_product_form {
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.edit_product_form hr {
    width: 100%;
}

.delete_upc_ean {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.storefront_header {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.storefront_header_right_side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback {
    display: flex;
    flex-direction: column;
}

.feedback_header, .feedback_subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile_picture {
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
}

.settings_profile_picture {
    margin-top: -7%;
}

.seller_basic_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seller_ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ratings {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}

.empty_or_error {
    background-color: #F3F3F3;
    border: 2px solid black;
}

.cart {
    background-color: #DDE6ED;
    border: 2px solid black;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_and_price_number {
    display: flex;
    justify-content: center;
    font-size: 1.75em;
}

.remove_from_cart_form {
    display: flex;
    align-items: center;
}

.cart-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome {
    background-color: #DDE6ED;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.options {
    background-color: #DDE6ED;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    overflow-y: auto;
}

.option_view {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.change_username_form, .change_password_form, .upload_profile_picture_form, .upload_banner_picture_form, .change_state_territory_form, .delete_account_form {
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.change_username_form label, .change_password_form label, .upload_profile_picture_form label, .upload_banner_picture_form label, .change_state_territory_form label, .delete_account_form label {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1%;
}

.listing_history, .purchase_history {
    height: 97vh;
    overflow-y: auto;
}

.profile_items {
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}