<fieldset>
    {% for field in form %}
        <div class="control-group mb-2">
            <label class="form-label mb-0">{{field.label}}:</label>
            <div>
                {{field}}
            </div>
        </div>
    {% endfor %}
    <div class="text-center pt-2">
        <input class="btn btn-primary" type="submit" value="{{form_text}}" title="{{form_text}}">
        {% if feedback_form %}
            <button class="btn btn-primary ms-5" data-bs-target="#feedback_modal" data-bs-toggle="modal">View Seller's Feedback &rsaquo;</button>
        {% endif %}
    </div>
</fieldset>