{% for product in products %}
    <div class="product mx-2 my-2 px-3 py-2">
        <h4><b>{{product.title}}</b></h4>
        <a href="{% url 'product_view' uuid=product.uuid %}" title="Click to view more details of this product"><img src="{{product.product_picture.url}}" alt="product picture" style="width: 100%;"></a>
        <p class="my-0 pt-2"><b>{{product.description}}</b></p>
        <p class="my-0 pt-2">Category: <b>{{product.category}}</b></p>
        <p class="my-0 pt-2">Condition: <b>{{product.condition}}</b></p>
        <div class="add_to_cart_form pb-2">
            <form action="{% url 'add_to_cart_view' uuid=product.uuid %}" method="POST">
                <fieldset>
                    {% csrf_token %}
                    <hr>
                    <div class="add_to_cart_button">
                        <p class="my-0">Price: <b>${{product.price}}</b></p>
                        {% if current_username == product.seller.username or seller.username == product.seller.username %}
                            <input class="btn btn-danger" type="submit" value="ADD TO CART" disabled>
                        {% else %}
                            <input class="btn btn-primary" type="submit" value="ADD TO CART" title="Add &quot;{{product.title}}&quot; to cart">
                        {% endif %}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endfor %}